::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
}
body {
  height: 100%;
  width: 100%;
  background: url(/img/bg.jpg) no-repeat;
  background-size: cover;
}
main {
  height: 650px;
  width: 1000px;
  background: #fff;
  position: absolute;
  top: 50%;
  margin-top: -325px;
  left: 50%;
  margin-left: -500px;
}
.left-panel {
  width: 280px;
  height: 100%;

  float: left;
  font-size: 18px;
  text-align: center;
  border-right: 1px solid #d6d6d6;
}
.l-top {
  height: 50px;
  width: 260px;
  padding: 15px 0;
  box-sizing: border-box;
  margin: auto;
  border-bottom: 1px solid #d6d6d6;
}
.l-transit {
  font-size: 16px;
  padding: 8px 0;
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #d6d6d6;
}
.l-panel {
  overflow: auto;
  height: 565px;
  color: #fff;
  background: #2e3238;
}

.l-panel-item {
  height: 50px;
  text-align: center;
  padding: 16px 0;
  box-sizing: border-box;
  border-bottom: 1px double #d6d6d6;
}
.right-panel {
  height: 100%;
  width: 720px;
  margin-left: 280px;
}
.r-top-panel {
  height: 480px;
  /* background: green; */
}
.title-wrap {
  height: 50px;
  width: 700px;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
  line-height: 30px;
  border-bottom: 1px solid #d6d6d6;
}
.r-bottom-panel {
  height: 170px;
  border-top: 1px solid #d6d6d6;
  overflow: hidden;
}
.text-input {
  width: 100%;
  height: 120px;
  outline: none;
  /* overflow-x: visible;
  overflow-y: scroll; */
  border-bottom: 1px solid #d6d6d6;
  overflow: scroll;
  box-sizing: border-box;
  padding: 10px;
}
.btn-wrap {
  height: 50px;
  width: 100%;
}
.btn-wrap button {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  width: 120px;
  height: 30px;
}
.msg-view {
  height: 430px;
  overflow: auto;
  overflow-x: hidden;
}
.msg-wrap {
  margin: 20px auto;
  text-align: right;
}
.msg-user {
  margin-right: 20px;
}
.msg-text {
  margin-right: 15px;
  background: #b2e281;
  display: inline-block;
  padding: 9px 13px;
}
