* {
  box-sizing: border-box;
}

body {
  background: #eee;
}

.box {
  background: #fff;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}

.form-wrapper {
  width: 300px;
  margin: auto;
  padding-top: 20px;
  display: block;
  opacity: 1;
}

.form-title {
  font-size: 30px;
  font-weight: 500;
}

.form-input {
  display: block;
  font-size: 18px;
  width: 100%;
  margin-top: 20px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  color: #555;
}

.form-btn {
  margin: 20px auto;
  background: #428bca;
  border: none;
  width: 100%;
  font-size: 18px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.form-btn:focus {
  outline: none;
}

.form-tip {
  color: red;
  text-align: right;
  font-size: 14px;
  margin-top: 8px;
  display: none;
}

.form-switch {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  color: #428bca;
  text-decoration: none;
  cursor: pointer;
}

/* 默认显示登录界面 */
#register {
  display: none;
}